@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #F5F2F2;
    font-family: 'Nunito', sans-serif, Arial;
    color: #2B2A2A;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}

button {
    font-size: 24px;
}

.input {
    font-size: 24px;
    margin-bottom: 24px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    gap: 20px;
}

.calcContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.history {
    display: none;
    text-align: center;
    
    width: 250px;
    max-height: 70vh;
    overflow-y: auto;

    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.histContainer {
    position: absolute;
    top: 5%;
    right: 5%;
}

.history.show {
    display: block;
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calcButton {
    padding: 2px 6px;
}

#calc, #result {
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}

#toggleHistory {
    font-family: 'Nunito';
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#toggleHistory.active {
    background-color: #2B2A2A;
    color: #F5F2F2;
}

#histList {
    list-style: none;
    font-size: 24px;
}