body {
    background-color: #F5F2F2;
    font-family: Nunito, sans-serif, Arial;
    color: #2B2A2A;
    margin: 0;
}

h1 {
    margin: 10px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}


a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #2B2A2A;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    height: 75vh;
    width: 30%;
    border-style: solid;
    border-width: 15px;
    border-radius: 25px;
    background-color: #D7C097;
    border-color: #E7DEAF;
}