@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #F5F2F2;
    font-family: 'Nunito', sans-serif, Arial;
    color: #2B2A2A;
    margin: 0;
}

h1 {
    margin: 10px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}


a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #2B2A2A;
    padding-bottom: 30px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    min-height: 40vh;
    width: 30%;
    border-style: solid;
    border-width: 15px;
    border-radius: 25px;
    background-color: #D7C097;
    border-color: #E7DEAF;
    margin-top: 100px;
    margin-bottom: 100px;
}