@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../../../[homepage]/fonts/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #F5F2F2;
    font-family: 'Nunito', sans-serif, Arial;
    color: #2B2A2A;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-weight: 800;
}

span {
    opacity: 0;
}

.input {
    font-size: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.history {
    position: absolute;
    top: 0;
    right: 0;
    margin: 100px;
    margin-right: 150px;
    display: none;
}

.history.show {
    display: block;
}

#calc, #result {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

#toggleHistory {
    position: absolute;
    top: 10%;
    right: 10%;
    font-family: 'Nunito';
    font-size: 24px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

#toggleHistory.active {
    background-color: #2B2A2A;
    color: #F5F2F2;
}