body {
    background-color: #F5F2F2;
    font-family: Nunito, sans-serif, Arial;
    color: #2B2A2A;
    margin: 0;
}

h1 {
    margin: 10px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}


a {
    text-decoration: none;
    font-size: 20px;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: absolute;
    top: 20%;
}